@model IEnumerable<BootFlixBC9.Models.Viewer>
@{
    ViewBag.Title = "Index";
}

<h2>Viewers</h2>
@if (!Model.Any())
{
    <text>We Dont Have Any Viewers Yet.</text>
}
else
{
<table id="viewers" class="table table-bordered">
    <thead>
        <tr>
            <th>Viewer</th>
            <th>Viewer Name</th>
            <th>Discount Rate</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var viewer in Model)
        {
        <tr>
            <td>@viewer.Name</td>
            <td>@Html.ActionLink(viewer.Name, "Edit", "Viewer", new { id = viewer.Id }, null)</td>
            <td>@viewer.MembershipType.DiscountRate%</td>
            <td>@viewer.MembershipType.Name</td>
            <td>
                <button data-viewer-id="@viewer.Id" class="btn btn-link js-delete">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}

@section scripts
{
<script>
    $(document).ready(function () {
        $("#viewers .js-delete").on("click", function () {
            let button = $(this);

            bootbox.confirm("Delete?Are U SURE SURE?", function (result) {
                if (result) {
                    $.ajax({
                    url: "/api/viewers/" + button.attr("data-viewer-id"),
                    method: "DELETE",
                    success: function () {
                        //console.log("YES YES YES");
                        button.parents("tr").remove();
                    }
                })

                }//
            });

            //if (confirm("Delete?Are U Sure?")) {
            //    $.ajax({
            //        url: "/api/viewers/" + $(this).attr("data-viewer-id"),
            //        method: "DELETE",
            //        success: function () {
            //            //console.log("YES YES YES");
            //            button.parents("tr").remove();
            //        }
            //    })
            //}
        });
    });
</script>
}