@model BootFlixBC9.ViewModels.ViewerFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>New Viewer</h2>

@using (Html.BeginForm("Save", "Viewer"))
{
    <div class="form-group">
        @Html.LabelFor(v => v.Viewer.Name)
        @Html.TextBoxFor(v => v.Viewer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.Viewer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Viewer.Birtdate)
        @Html.TextBoxFor(v => v.Viewer.Birtdate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    

    <div class="form-group">
        @Html.LabelFor(v => v.Viewer.MembershipTypeId)
        @Html.DropDownListFor(v => v.Viewer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "--Select--", new { @class = "form-check-input" })


    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(v => v.Viewer.IsSubscribedToNews, new { @class = "form-check-input" }) Subscribe to news
        </label>
    </div>
    @*Html.Hidden("Viewer.Id", (Model.Viewer != null) ? Model.Viewer.Id : 0)*@
    @Html.HiddenFor(v => v.Viewer.Id)
    <button type="submit">Save</button>

}

